body{
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    background: url(https://amiel.club/uploads/posts/2022-03/1647562325_16-amiel-club-p-kartinki-tokiiskii-mstiteli-16.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgb(0, 0, 0, .2);
    font-family: Roboto;
}



input::placeholder {
    
    text-align: center;
}

.inputWindow{
    min-width: 300px;
    min-height: 50px;
}
.sign{
   
    transform: translateY(+25%);
}
.itemList{
   
    display: flex;
    align-items: center;
}
.elementList{
    margin-top: 15px;
    margin-right: 5px;
}

.elementList{
    min-width: 295px;
    max-width: 295px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(94, 93, 93);
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
    text-align: left;

}

.textElementList{
    text-align: center;
}